* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background: rgb(237, 231, 220);
  background: linear-gradient(
    90deg,
    rgba(237, 231, 220, 1) 48%,
    rgba(189, 195, 203, 1) 100%
  );
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

main {
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
  }

  form {
    margin-bottom: 50px;
    .button-container {
      margin-top: 30px;
      .button-add-notes {
        width: 150px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
